* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #262E29;
}

/*

Colors:
White - #f8f8f8
Black - #262E29
Dark Green - #4AAA48
Light Green - #8DC641
Red - #FF414B

Fonts:
Headings - font-family: 'Roboto', sans-serif;
Text - font-family: 'Montserrat', sans-serif;

Headings:
	Desktop:
		H1 - 2.2rem
		H2 - 
		H3 - 
		H4 - 
		H5 - 1.6rem
		H6 - 
		P - 
	Mobile:
		H1 - 0.8rem
		H2 - 
		H3 - 
		H4 - 
		H5 - 
		H6 - 
		P - 1.2rem

*/

/* *************************************** HERO *************************************** */

.hero {
	width: 100%;
	height: 100vh;
}

.hero-home {
	background-image: url('images/home-hero.jpg');
	background-size: cover;
	background-position: center;
}

.hero-heading {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8rem;
}

/* *************************************** HERO *************************************** */
/* ******************************************* HEADER ******************************************* */

header {
	width: 100%;
}

header figure img {
	width: 100%;
}

header figure {
	max-width: 300px;
}

header nav ul li {
	display: inline;
	margin: 0 20px;
}

.header-content {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.6rem;
}

/* *********************************** NAV *********************************** */

.desktop-nav {
	display: none;
}

.desktop-nav a {
	color: #262E29;
	text-decoration: none;
}

.regular-links a:hover {
	color: #f8f8f8;
	transition: all .2s;
}

.donate-header-button {
	padding: 15px 18px;
	margin-right: 0;
	background-color: #8DC641;
}

.donate-header-button:hover {
	background-color: #f8f8f8;
	transition: all .2s;
}

/* ************************* MOBILE ************************* */

.mobile-nav {
	width: 100%;
}

.mobile-nav #links {
	display: none;
	background-color: #262E29;
	width: 100%;
	position: absolute;
	z-index:10;
	text-align: center;
}
  
.mobile-nav a {
	color: #f8f8f8;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

#links a:hover {
	background-color: #f8f8f8;
	color: #262E29;
	transition: all .2s;
}

.mobile-logo img {
	width: 100%;
}

.mobile-logo {
	width: 70%;
}

.mobile-nav a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* ************************* MOBILE ************************* */
/* *********************************** NAV *********************************** */
/* ******************************************* HEADER ******************************************* */




/* ******************************************* FOOTER ******************************************* */

footer {
	background-color: #262E29;
	color: #f8f8f8;
}

.footer-content {
	padding: 25px 0;
}

footer section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0;
}

.footer-info {
	text-align: center;
}

.footer-info img {
	width: 100%
}

.footer-info figure {
	width: 80%;
	max-width: 300px;
	margin-bottom: 30px;
}

.footer-info p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
}

.social-icons {
	margin-top: 30px;
}

.social-icons img {
	max-width: 30px;
	filter: invert(100%) sepia(16%) saturate(93%) hue-rotate(235deg) brightness(118%) contrast(95%);
	padding: 0 8px;
}

footer hr {
	border: .5px solid #f8f8f8;
}

.footer-menu nav {
	margin: 25px 0;
}

.footer-menu a {
	text-decoration: none;
	color: #f8f8f8;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: bold;
}

.footer-menu ul li {
	list-style-type: none;
	text-align: center;
	margin: 20px 0;
}

.donate-footer-button {
	padding: 15px 0;
	background-color: #FF414B;
}

.footer-form h5 {
	font-size: 1.6rem;
	text-transform: capitalize;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-form input {
	background: rgba(0, 0, 0, 0);
	border-bottom: 1px solid #f8f8f8;
	color: #f8f8f8;
	font-size: 1.2rem;
	margin: 10px 0;
}

.footer-form button {
	color: #FF414B;
	background-color: #f8f8f8;
	margin-top: 20px;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 8px 10px;
}

/* ******************************************* FOOTER ******************************************* */




/* ************************************************* MEDIA QUERIES ************************************************* */
/* ******************************************* 400PX ******************************************* */

@media (min-width: 400px) {
	.hero-heading {
		font-size: 1rem;
	}
}

/* ******************************************* 400PX ******************************************* */
/* ******************************************* 600PX ******************************************* */

@media (min-width: 600px) {
	.hero-heading {
		font-size: 1.2rem;
	}
}

/* ******************************************* 600PX ******************************************* */
/* ******************************************* 800PX ******************************************* */

@media (min-width: 800px) {
	.hero-heading {
		font-size: 1.6rem;
	}
}

/* ******************************************* 800PX ******************************************* */
/* ******************************************* 1000PX ******************************************* */

@media (min-width: 1000px) {
	header {
		display: flex;
	}

	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-content {
		width: 100%;
		padding: 25px 35px;
	}

	.hero-heading {
		font-size: 1.8rem;
		height: 65vh;
	}
}

/* ******************************************* 1000PX ******************************************* */
/* ******************************************* 1400PX ******************************************* */

@media (min-width: 1400px) {
	header nav ul li {
		margin: 0 25px;
	}

	.hero-heading {
		font-size: 2.2rem;
	}
}

/* ******************************************* 1400PX ******************************************* */
/* ************************************************* MEDIA QUERIES ************************************************* */