* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #262E29;
}

/*

Colors:
White - #f8f8f8
Black - #262E29
Dark Green - #4AAA48
Light Green - #8DC641
Dark Red - #FF414B

Fonts:
Headings - font-family: 'Roboto', sans-serif;
Text - font-family: 'Montserrat', sans-serif;

Headings:
	Desktop:
		H1 - 3.8rem
		H2 - 2.4rem
		H3 - 
		H4 - 
		H5 - 1.6rem
		H6 - 
		P - 1.2rem
	Mobile:
		H1 - 1.6rem
		H2 - 1.5rem
		H3 - 
		H4 - 
		H5 - 1.6rem
		H6 - 
		P - 1rem

*/


/* *************************************** HEADINGS *************************************** */

h1 {
	font-size: 1.8rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.7rem;
	margin-bottom: 40px;
}

h3 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.6rem;
	text-transform: capitalize;
	font-weight: bold;
}

p {
	font-family: 'Montserrat', sans-serif;
}

/* *************************************** HEADINGS *************************************** */
/* *************************************** HERO *************************************** */

.hero {
	width: 100%;
	height: 100vh;
}

.hero-home {
	background-image: url('images/home-hero.jpg');
	background-size: cover;
	background-position: center;
}

.hero-heading {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-about {
	background-image: url('images/about-hero.png');
	background-size: cover;
	background-position: 87% 100%;
}

.hero-heading-about {
	height: 50vh;
}

.hero-initiatives {
	background-image: url('images/initiatives-hero.jpg');
	background-size: cover;
	background-position: center;
}

.initiatives-heading {
	color: #f8f8f8;
}



/* *************************************** HERO *************************************** */
/* ******************************************* HEADER ******************************************* */

header {
	width: 100%;
	max-width: 2000px;
	margin: auto;
}

header figure img {
	width: 100%;
}

header figure {
	max-width: 300px;
}

header nav ul li {
	display: inline;
	margin: 0 20px;
}

.header-content {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.6rem;
}

/* *********************************** NAV *********************************** */

.desktop-nav {
	display: none;
}

.desktop-nav a {
	color: #262E29;
	text-decoration: none;
}

.regular-links a {
	transition: all .1s;
}

.regular-links a:hover {
	color: #f8f8f8;
	transition: all .1s;
}

.donate-header-button {
	padding: 15px 18px;
	margin-right: 0;
	background-color: #8DC641;
	transition: all .1s;
}

.donate-header-button:hover {
	background-color: #f8f8f8;
	transition: all .1s;
}

/* ************************* MOBILE ************************* */

.mobile-nav {
	width: 100%;
}

.mobile-nav #links {
	display: none;
	background-color: #262E29;
	width: 100%;
	position: absolute;
	z-index:10;
	text-align: center;
}
  
.mobile-nav a {
	color: #f8f8f8;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

#links a {
	transition: all .1s;
}

#links a:hover {
	background-color: #f8f8f8;
	color: #262E29;
	transition: all .1s;
}

.mobile-logo img {
	width: 100%;
}

.mobile-logo {
	width: 70%;
}

.mobile-nav a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* ************************* MOBILE ************************* */
/* *********************************** NAV *********************************** */
/* ******************************************* HEADER ******************************************* */

/* ******************************************* FOOTER ******************************************* */

footer {
	background-color: #262E29;
	color: #f8f8f8;
}

.footer-content {
	width: 100%;
	padding: 25px 0;
	max-width: 2000px;
	margin: auto;
}

footer section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0;
}

footer p {
	font-size: 1.2rem;
}

.footer-info {
	text-align: center;
}

.footer-info img {
	width: 100%
}

.footer-info figure {
	width: 80%;
	max-width: 300px;
	margin-bottom: 30px;
}

.social-icons {
	margin-top: 30px;
}

.social-icons img {
	max-width: 30px;
	filter: invert(100%) sepia(16%) saturate(93%) hue-rotate(235deg) brightness(118%) contrast(95%);
	padding: 0 8px;
	transition: all .1s;
}

.social-icons img:hover {
	filter: invert(75%) sepia(72%) saturate(433%) hue-rotate(33deg) brightness(88%) contrast(81%);
	transition: all .1s;
}

footer hr {
	border: .5px solid #f8f8f8;
}

.footer-menu nav {
	margin: 25px 0;
}

.footer-menu a {
	text-decoration: none;
	color: #f8f8f8;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .1s;
}

.footer-menu a:hover {
	color: #8DC641;
	transition: all .1s;
}

.footer-menu ul li {
	list-style-type: none;
	text-align: center;
	margin: 20px 0;
}

.donate-footer-button {
	padding: 15px 0;
	background-color: #8DC641;
	transition: all .1s;
}

.donate-footer-button:hover {
	background-color: #FF414B;
	transition: all .1s;
}

.donate-footer-button a:hover {
	color: #f8f8f8;
}

.footer-form h5 {
	margin-bottom: 20px;
}

.footer-form input {
	background: rgba(0, 0, 0, 0);
	border-bottom: 1px solid #f8f8f8;
	color: #f8f8f8;
	font-size: 1.2rem;
	margin: 10px 0;
}

.footer-form button {
	color: #8DC641;
	background-color: #f8f8f8;
	margin-top: 20px;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 8px 10px;
	transition: all .1s;
}

.footer-form button:hover {
	background-color: #8DC641;
	color: #f8f8f8;
	transition: all .1s;
}

/* ******************************************* FOOTER ******************************************* */

/* ******************************************************* HOME ******************************************************* */
/* ******************************************* API / TABBED CONTENT ******************************************* */

.tabbed-section p {
	padding-top: 15px;
}

.tablink {
	background-color: #262E29;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}
  
.tablink:hover {
	background-color: #262e29c7;
}
  
.tabcontent {
	color: #f8f8f8;
	display: none;
	padding: 50px;
	text-align: center;
}
  
#temp1940 {background-color: #8DC641;}
#temp1980 {background-color: #4AAA48;}
#temp2020 {background-color: #ff555e;}
#temp2080 {background-color: #FF414B;}

/* ******************************************* API / TABBED CONTENT ******************************************* */
/* ******************************************* COUNTDOWN FOR CHANGE ******************************************* */

.counters-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px 0;
	max-width: 2000px;
	margin: auto;
}

.counters-section h2 {
	color: #4AAA48;
}

.counters {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ******************************************* COUNTDOWN FOR CHANGE ******************************************* */
/* ******************************************* CLIMATE CHANGE FAQ ******************************************* */

.climate-accordion-section {
	width: 100%;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px 0;
}

.climate-accordion-section h2 {
	color: #FF414B;
	text-align: center;
}

.climate-accordion-section p {
	padding: 18px 0;
}

.faq-accordion-section {
	width: 85%;
	max-width: 1800px;
	margin: auto;
}

.accordion {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	background-color: #FF414B;
	color: #f8f8f8;
	cursor: pointer;
	padding: 18px;
	margin: 3px 0;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.3s;
}
  
.active, .accordion:hover {
	background-color: #ff414ba1;
}
  
.panel {
	padding: 0 18px;
	background-color: #f8f8f8;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion:after {
	content: '\02795'; 
	font-size: 13px;
	color: #f8f8f8;
	float: right;
	margin-left: 5px;
}
  
.active:after {
	content: "\2796"; 
}

/* ******************************************* CLIMATE CHANGE FAQ ******************************************* */
/* ******************************************************* HOME ******************************************************* */


/* ******************************************************* ABOUT ******************************************************* */
/* ******************************************* OUR MISSION ******************************************* */

.mission-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px 0;
}

.mission-content {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1800px;
	margin: auto;
}

.mission-section h2 {
	margin-bottom: 30px;
	color: #FF414B;
}

.mission-section h3 {
	text-align: center;
	margin-bottom: 25px;
}

/* ******************************************* OUR MISSION ******************************************* */
/* ******************************************* GET INVOLVED ******************************************* */

.involved-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f8f8f8;
	padding: 45px 0;
}

.involved-section h2 {
	margin-bottom: 25px;
	color: #4AAA48;
}

.involved-section a {
	text-decoration: none;
}

.involved-content {
	width: 85%;
	max-width: 2000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.bubble {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #4AAA48;
	border-radius: 150px;
	margin: 20px 0;
	color: #f8f8f8;
	transition: all .1s;
}

.bubble:hover {
	background-color: #FF414B;
	transition: all .1s;
}

.bubble img {
	max-width: 60px;
	padding-top: 45px;
	filter: invert(100%) sepia(16%) saturate(93%) hue-rotate(235deg) brightness(118%) contrast(95%);
}

.bubble h5 {
	padding: 30px 0 15px 0;
}

.bubble-text {
	max-width: 280px;
}

/* ******************************************* GET INVOLVED ******************************************* */
/* ******************************************************* ABOUT ******************************************************* */


/* ***************************************************** INITIATIVES ***************************************************** */

#more1, #more2, #more3 {
	display: none;
}

/* ***************************************************** INITIATIVES ***************************************************** */


/* ************************************************* MEDIA QUERIES ************************************************* */
/* ******************************************* 400PX ******************************************* */

@media (min-width: 400px) {
	/* ***** HEADINGS ***** */
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.9rem;
	}

	h3 {
		font-size: 1.4rem;
	}
	/* ***** HEADINGS ***** */
}

/* ******************************************* 400PX ******************************************* */
/* ******************************************* 600PX ******************************************* */

@media (min-width: 600px) {
	/* ***** HEADINGS ***** */
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 2.1rem;
	}

	h3 {
		font-size: 1.5rem;
	}
	/* ***** HEADINGS ***** */
}

/* ******************************************* 600PX ******************************************* */
/* ******************************************* 800PX ******************************************* */

@media (min-width: 800px) {
	/* ***** HEADINGS ***** */
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	h3 {
		font-size: 1.6rem;
	}
	/* ***** HEADINGS ***** */
	/* ***** ABOUT / GET INVOLVED ***** */
	.bubble-content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.bubble-container {
		width: 50%;
		display: flex;
		justify-content: center;
	}
	/* ***** ABOUT / GET INVOLVED ***** */
}

/* ******************************************* 800PX ******************************************* */
/* ******************************************* 910PX ******************************************* */

@media (min-width: 910px) {
	/* ***** HOME / COUNTDOWN FOR CHANGE ***** */
	.counters {
		flex-direction: row;
		justify-content: space-around;
	}
	/* ***** HOME / COUNTDOWN FOR CHANGE ***** */
}

/* ******************************************* 910PX ******************************************* */
/* ******************************************* 1000PX ******************************************* */

@media (min-width: 1000px) {
	/* ***** HEADINGS ***** */
	h1 {
		font-size: 3.6rem;
	}

	h2 {
		font-size: 2.8rem;
	}

	p {
		font-size: 1.2rem;
	}
	/* ***** HEADINGS ***** */
	/* ***** HEADER/HERO ***** */
	header {
		display: flex;
	}

	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-content {
		width: 100%;
		padding: 25px 35px;
	}
	/* ***** HEADER/HERO ***** */
	/* ***** FOOTER ***** */
	.footer-content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 50px 0;
	}

	footer section {
		width: 33%;
		padding: 0;
	}

	footer hr {
		display: none;
	}

	.footer-menu nav {
		margin: 0;
	}
	/* ***** FOOTER ***** */
	/* ***** ABOUT / GET INVOLVED ***** */
	.bubble {
		width: 350px;
		height: 350px;
		border-radius: 175px;
	}

	.bubble img {
		padding-top: 60px;
	}
	/* ***** ABOUT / GET INVOLVED ***** */
}

/* ******************************************* 1000PX ******************************************* */
/* ******************************************* 1100PX ******************************************* */

@media (min-width: 1100px) {
	/* ***** HEADER/HERO ***** */
	.hero-heading-about {
		height: 60vh;
		justify-content: left;
	}
	
	.hero-heading-about h1 {
		padding-left: 12%;
	}
	/* ***** HEADER/HERO ***** */
}

/* ******************************************* 1100PX ******************************************* */
/* ******************************************* 1400PX ******************************************* */

@media (min-width: 1400px) {
	/* ***** HEADER/HERO ***** */
	header nav ul li {
		margin: 0 25px;
	}
	/* ***** HEADER/HERO ***** */
	/* ***** HEADINGS ***** */
	h1 {
		font-size: 4rem;
	}
	/* ***** HEADINGS ***** */
	/* ***** ABOUT / GET INVOLVED ***** */
	.involved-content {
		width: 90%;
	}

	.bubble-container {
		width: 25%;
	}

	.bubble {
		width: 300px;
		height: 300px;
	}

	.bubble img {
		padding-top: 40px;
	}

	.involved-section p {
		font-size: 1rem;
	}

	.involved-section h5 {
		font-size: 1.5rem;
	}
	/* ***** ABOUT / GET INVOLVED ***** */
}

/* ******************************************* 1400PX ******************************************* */
/* ******************************************* 1700PX ******************************************* */

@media (min-width: 1700px) {
	/* ***** ABOUT / GET INVOLVED ***** */
	.involved-content {
		width: 85%;
	}

	.bubble {
		width: 350px;
		height: 350px;
	}

	.bubble img {
		padding-top: 60px;
	}

	.involved-section p {
		font-size: 1.2rem;
	}

	.involved-section h5 {
		font-size: 1.6rem;
	}
	/* ***** ABOUT / GET INVOLVED ***** */
}

/* ******************************************* 1700PX ******************************************* */

@media (min-width: 1700px) {
	/* ***** HEADER/HERO ***** */
	.hero-heading-about {
		height: 40vh;
		justify-content: center;
	}

	.hero-heading-about h1 {
		padding-left: 0;
	}
	/* ***** HEADER/HERO ***** */
}

/* ************************************************* MEDIA QUERIES ************************************************* */